@model IEnumerable<SlugifyWebNew.Models.Posts>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExplicitLanguage)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExplicitLanguage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostsID" asp-route-slug="@SlugifyWebNew.Utils.Slug.Slugify(item.Title)">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
